name: Flatpak
on:
  push:
    branches:
      - "*"
    pull_request:
      - "*"

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        manifest-path: com.github.lachhebo.Gabtag.Devel.json
        bundle: com.github.lachhebo.Gabtag.Devel.flatpak
        cache-key: flatpak-builder-${{ github.sha }}